In [1]:
import pandas

In [69]:
df = pandas.read_csv('autos.csv', sep=",", encoding = 'Latin1')


df = df.drop(['seller', 'abtest', 'offerType', 'nrOfPictures', 'lastSeen', 'abtest', 'name'], axis=1)
print(df)

                dateCrawled  price vehicleType  yearOfRegistration    gearbox  \
0       2016-03-24 11:52:17    480         NaN                1993    manuell
1       2016-03-24 10:58:45  18300       coupe                2011    manuell
2       2016-03-14 12:52:21   9800         suv                2004  automatik
3       2016-03-17 16:54:04   1500  kleinwagen                2001    manuell
4       2016-03-31 17:25:20   3600  kleinwagen                2008    manuell
...                     ...    ...         ...                 ...        ...
371523  2016-03-14 17:48:27   2200         NaN                2005        NaN
371524  2016-03-05 19:56:21   1199      cabrio                2000  automatik
371525  2016-03-19 18:57:12   9200         bus                1996    manuell
371526  2016-03-20 19:41:08   3400       kombi                2002    manuell
371527  2016-03-07 19:39:19  28990   limousine                2013    manuell

        powerPS        model  kilometer  monthOfRegistration fuelType  \
0             0         golf     150000                    0   benzin
1           190          NaN     125000                    5   diesel
2           163        grand     125000                    8   diesel
3            75         golf     150000                    6   benzin
4            69        fabia      90000                    7   diesel
...         ...          ...        ...                  ...      ...
371523        0          NaN      20000                    1      NaN
371524      101       fortwo     125000                    3   benzin
371525      102  transporter     150000                    3   diesel
371526      100         golf     150000                    6   diesel
371527      320      m_reihe      50000                    8   benzin

                 brand notRepairedDamage          dateCreated  postalCode
0           volkswagen               NaN  2016-03-24 00:00:00       70435
1                 audi                ja  2016-03-24 00:00:00       66954
2                 jeep               NaN  2016-03-14 00:00:00       90480
3           volkswagen              nein  2016-03-17 00:00:00       91074
4                skoda              nein  2016-03-31 00:00:00       60437
...                ...               ...                  ...         ...
371523  sonstige_autos               NaN  2016-03-14 00:00:00       39576
371524           smart              nein  2016-03-05 00:00:00       26135
371525      volkswagen              nein  2016-03-19 00:00:00       87439
371526      volkswagen               NaN  2016-03-20 00:00:00       40764
371527             bmw              nein  2016-03-07 00:00:00       73326

[371528 rows x 14 columns]

In [70]:
#print(cats)
df['gearbox'].loc[df['gearbox'] == 'manuell'] = 1
df['gearbox'].loc[df['gearbox'] == 'automatik'] = 0
df = df.dropna(axis=0, subset=['gearbox'])

df['notRepairedDamage'].loc[df['notRepairedDamage'] == 'ja'] = 1
df['notRepairedDamage'].loc[df['notRepairedDamage'] == 'nein'] = 0
df = df.dropna(axis=0, subset=['notRepairedDamage'])

cats = pandas.get_dummies(df[['brand','vehicleType', 'fuelType', 'model']])
years_old = 2016 - df['yearOfRegistration']


df = df.drop(['yearOfRegistration'], axis = 1)
df = pandas.concat([df, cats, years_old], axis = 1)
df = df.drop(['brand','vehicleType', 'fuelType', 'model'], axis = 1)
df.head()

,dateCrawled,price,gearbox,powerPS,kilometer,monthOfRegistration,notRepairedDamage,dateCreated,postalCode,brand_alfa_romeo,...,model_x_reihe,model_x_trail,model_x_type,model_xc_reihe,model_yaris,model_yeti,model_ypsilon,model_z_reihe,model_zafira,yearOfRegistration
1,2016-03-24 10:58:45,18300,1,190,125000,5,1,2016-03-24 00:00:00,66954,0,...,0,0,0,0,0,0,0,0,0,5
3,2016-03-17 16:54:04,1500,1,75,150000,6,0,2016-03-17 00:00:00,91074,0,...,0,0,0,0,0,0,0,0,0,15
4,2016-03-31 17:25:20,3600,1,69,90000,7,0,2016-03-31 00:00:00,60437,0,...,0,0,0,0,0,0,0,0,0,8
5,2016-04-04 17:36:23,650,1,102,150000,10,1,2016-04-04 00:00:00,33775,0,...,0,0,0,0,0,0,0,0,0,21
6,2016-04-01 20:48:51,2200,1,109,150000,8,0,2016-04-01 00:00:00,67112,0,...,0,0,0,0,0,0,0,0,0,12

,0,1,2,3
dateCrawled,2016-03-24 11:52:17,2016-03-24 10:58:45,2016-03-14 12:52:21,2016-03-17 16:54:04
name,Golf_3_1.6,A5_Sportback_2.7_Tdi,"Jeep_Grand_Cherokee_""Overland""",GOLF_4_1_4__3TÃœRER
seller,privat,privat,privat,privat
offerType,Angebot,Angebot,Angebot,Angebot
price,480,18300,9800,1500
abtest,test,test,test,test
vehicleType,NaN,coupe,suv,kleinwagen
yearOfRegistration,1993,2011,2004,2001
gearbox,manuell,manuell,automatik,manuell
powerPS,0,190,163,75
model,golf,NaN,grand,golf
kilometer,150000,125000,125000,150000
monthOfRegistration,0,5,8,6
fuelType,benzin,diesel,diesel,benzin
brand,volkswagen,audi,jeep,volkswagen
notRepairedDamage,NaN,ja,NaN,nein
dateCreated,2016-03-24 00:00:00,2016-03-24 00:00:00,2016-03-14 00:00:00,2016-03-17 00:00:00
nrOfPictures,0,0,0,0
postalCode,70435,66954,90480,91074
lastSeen,2016-04-07 03:16:57,2016-04-07 01:46:50,2016-04-05 12:47:46,2016-03-17 17:40:17

,371525,371526,371527
dateCrawled,2016-03-19 18:57:12,2016-03-20 19:41:08,2016-03-07 19:39:19
name,Volkswagen_Multivan_T4_TDI_7DC_UY2,VW_Golf_Kombi_1_9l_TDI,BMW_M135i_vollausgestattet_NP_52.720____Euro
seller,privat,privat,privat
offerType,Angebot,Angebot,Angebot
price,9200,3400,28990
abtest,test,test,control
vehicleType,bus,kombi,limousine
yearOfRegistration,1996,2002,2013
gearbox,manuell,manuell,manuell
powerPS,102,100,320
model,transporter,golf,m_reihe
kilometer,150000,150000,50000
monthOfRegistration,3,6,8
fuelType,diesel,diesel,benzin
brand,volkswagen,volkswagen,bmw
notRepairedDamage,nein,NaN,nein
dateCreated,2016-03-19 00:00:00,2016-03-20 00:00:00,2016-03-07 00:00:00
nrOfPictures,0,0,0
postalCode,87439,40764,73326
lastSeen,2016-04-07 07:15:26,2016-03-24 12:45:21,2016-03-22 03:17:10

Alanlarda 0 boÅŸ deÄŸer var 'dateCrawled'.
Alanlarda 0 boÅŸ deÄŸer var 'name'.
Alanlarda 0 boÅŸ deÄŸer var 'abtest'.
Alanlarda 0 boÅŸ deÄŸer var 'vehicleType'.
Alanlarda 0 boÅŸ deÄŸer var 'gearbox'.
Alanlarda 0 boÅŸ deÄŸer var 'model'.
Alanlarda 0 boÅŸ deÄŸer var 'fuelType'.
Alanlarda 0 boÅŸ deÄŸer var 'brand'.
Alanlarda 0 boÅŸ deÄŸer var 'notRepairedDamage'.
Alanlarda 0 boÅŸ deÄŸer var 'dateCreated'.
Alanlarda 0 boÅŸ deÄŸer var 'lastSeen'.

count    371156.000000
mean       5616.158338
std        7559.086800
min           0.000000
25%        1150.000000
50%        2950.000000
75%        7200.000000
max      108500.000000
Name: price, dtype: float64

,dateCrawled,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
1,19.869711,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,AUDI,ja,231.0,66,33.480347
2,9.948600,9800,test,suv,2004,automatik,163,GRAND,125000,8,diesel,JEEP,NaN,221.0,90,31.939329
3,13.116458,1500,test,kleinwagen,2001,manuell,75,GOLF,150000,6,benzin,VOLKSWAGEN,nein,224.0,91,13.142465

,dateCrawled,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
371525,15.201968,9200,test,bus,1996,manuell,102,TRANSPORTER,150000,3,diesel,VOLKSWAGEN,nein,226.0,87,33.708542
371526,16.232477,3400,test,kombi,2002,manuell,100,GOLF,150000,6,diesel,VOLKSWAGEN,NaN,227.0,40,19.937650
371527,3.231215,28990,control,limousine,2013,manuell,320,M_REIHE,50000,8,benzin,BMW,nein,214.0,73,17.543079

'Verisetinde iÅŸlemeye uygun 294645 kayÄ±t vardÄ±r.'

'One hot encodingden sonra 424 Ã¶zellik vardÄ±r '

['dateCrawled',
 'yearOfRegistration',
 'powerPS',
 'kilometer',
 'dateCreated',
 'lastSeen',
 'abtest_control',
 'abtest_test',
 'vehicleType_andere',
 'vehicleType_bus',
 'vehicleType_cabrio',
 'vehicleType_coupe',
 'vehicleType_kleinwagen',
 'vehicleType_kombi',
 'vehicleType_limousine',
 'vehicleType_suv',
 'gearbox_automatik',
 'gearbox_manuell',
 'model_100',
 'model_145',
 'model_147',
 'model_156',
 'model_159',
 'model_1ER',
 'model_1_REIHE',
 'model_200',
 'model_2_REIHE',
 'model_300C',
 'model_3ER',
 'model_3_REIHE',
 'model_4_REIHE',
 'model_500',
 'model_5ER',
 'model_5_REIHE',
 'model_601',
 'model_6ER',
 'model_6_REIHE',
 'model_7ER',
 'model_80',
 'model_850',
 'model_90',
 'model_900',
 'model_9000',
 'model_911',
 'model_A1',
 'model_A2',
 'model_A3',
 'model_A4',
 'model_A5',
 'model_A6',
 'model_A8',
 'model_ACCORD',
 'model_AGILA',
 'model_ALHAMBRA',
 'model_ALMERA',
 'model_ALTEA',
 'model_AMAROK',
 'model_ANDERE',
 'model_ANTARA',
 'model_AROSA',
 'model_ASTRA',
 'model_AURIS',
 'model_AVENSIS',
 'model_AVEO',
 'model_AYGO',
 'model_A_KLASSE',
 'model_BEETLE',
 'model_BERLINGO',
 'model_BORA',
 'model_BOXSTER',
 'model_BRAVO',
 'model_B_KLASSE',
 'model_B_MAX',
 'model_C1',
 'model_C2',
 'model_C3',
 'model_C4',
 'model_C5',
 'model_CADDY',
 'model_CALIBRA',
 'model_CAPTIVA',
 'model_CARISMA',
 'model_CARNIVAL',
 'model_CAYENNE',
 'model_CC',
 'model_CEED',
 'model_CHARADE',
 'model_CHEROKEE',
 'model_CITIGO',
 'model_CIVIC',
 'model_CL',
 'model_CLIO',
 'model_CLK',
 'model_CLUBMAN',
 'model_COLT',
 'model_COMBO',
 'model_COOPER',
 'model_CORDOBA',
 'model_COROLLA',
 'model_CORSA',
 'model_CROMA',
 'model_CROSSFIRE',
 'model_CR_REIHE',
 'model_CUORE',
 'model_CX_REIHE',
 'model_C_KLASSE',
 'model_C_MAX',
 'model_C_REIHE',
 'model_DEFENDER',
 'model_DELTA',
 'model_DISCOVERY',
 'model_DISCOVERY_SPORT',
 'model_DOBLO',
 'model_DUCATO',
 'model_DUSTER',
 'model_ELEFANTINO',
 'model_EOS',
 'model_ESCORT',
 'model_ESPACE',
 'model_EXEO',
 'model_E_KLASSE',
 'model_FABIA',
 'model_FIESTA',
 'model_FOCUS',
 'model_FORESTER',
 'model_FORFOUR',
 'model_FORTWO',
 'model_FOX',
 'model_FREELANDER',
 'model_FUSION',
 'model_GALANT',
 'model_GALAXY',
 'model_GETZ',
 'model_GL',
 'model_GLK',
 'model_GOLF',
 'model_GRAND',
 'model_G_KLASSE',
 'model_I3',
 'model_IBIZA',
 'model_IMPREZA',
 'model_INSIGNIA',
 'model_I_REIHE',
 'model_JAZZ',
 'model_JETTA',
 'model_JIMNY',
 'model_JUKE',
 'model_JUSTY',
 'model_KA',
 'model_KADETT',
 'model_KAEFER',
 'model_KALINA',
 'model_KALOS',
 'model_KANGOO',
 'model_KAPPA',
 'model_KUGA',
 'model_LAGUNA',
 'model_LANCER',
 'model_LANOS',
 'model_LEGACY',
 'model_LEON',
 'model_LODGY',
 'model_LOGAN',
 'model_LUPO',
 'model_LYBRA',
 'model_MATERIA',
 'model_MATIZ',
 'model_MEGANE',
 'model_MERIVA',
 'model_MICRA',
 'model_MII',
 'model_MODUS',
 'model_MONDEO',
 'model_MOVE',
 'model_MUSA',
 'model_MUSTANG',
 'model_MX_REIHE',
 'model_M_KLASSE',
 'model_M_REIHE',
 'model_NAVARA',
 'model_NIVA',
 'model_NOTE',
 'model_NUBIRA',
 'model_OCTAVIA',
 'model_OMEGA',
 'model_ONE',
 'model_OUTLANDER',
 'model_PAJERO',
 'model_PANDA',
 'model_PASSAT',
 'model_PHAETON',
 'model_PICANTO',
 'model_POLO',
 'model_PRIMERA',
 'model_PTCRUISER',
 'model_PUNTO',
 'model_Q3',
 'model_Q5',
 'model_Q7',
 'model_QASHQAI',
 'model_R19',
 'model_RANGEROVER',
 'model_RANGE_ROVER',
 'model_RANGE_ROVER_EVOQUE',
 'model_RANGE_ROVER_SPORT',
 'model_RAV',
 'model_RIO',
 'model_ROADSTER',
 'model_ROOMSTER',
 'model_RX_REIHE',
 'model_S60',
 'model_SAMARA',
 'model_SANDERO',
 'model_SANTA',
 'model_SCENIC',
 'model_SCIROCCO',
 'model_SEICENTO',
 'model_SERIE_2',
 'model_SERIE_3',
 'model_SHARAN',
 'model_SIGNUM',
 'model_SIRION',
 'model_SL',
 'model_SLK',
 'model_SORENTO',
 'model_SPARK',
 'model_SPIDER',
 'model_SPORTAGE',
 'model_SPRINTER',
 'model_STILO',
 'model_SUPERB',
 'model_SWIFT',
 'model_S_KLASSE',
 'model_S_MAX',
 'model_S_TYPE',
 'model_TERIOS',
 'model_TIGRA',
 'model_TIGUAN',
 'model_TOLEDO',
 'model_TOUAREG',
 'model_TOURAN',
 'model_TRANSIT',
 'model_TRANSPORTER',
 'model_TT',
 'model_TUCSON',
 'model_TWINGO',
 'model_UP',
 'model_V40',
 'model_V50',
 'model_V60',
 'model_V70',
 'model_VECTRA',
 'model_VERSO',
 'model_VIANO',
 'model_VITO',
 'model_VIVARO',
 'model_VOYAGER',
 'model_V_KLASSE',
 'model_WRANGLER',
 'model_XC_REIHE',
 'model_X_REIHE',
 'model_X_TRAIL',
 'model_X_TYPE',
 'model_YARIS',
 'model_YETI',
 'model_YPSILON',
 'model_ZAFIRA',
 'model_Z_REIHE',
 'monthOfRegistration_1',
 'monthOfRegistration_10',
 'monthOfRegistration_11',
 'monthOfRegistration_12',
 'monthOfRegistration_2',
 'monthOfRegistration_3',
 'monthOfRegistration_4',
 'monthOfRegistration_5',
 'monthOfRegistration_6',
 'monthOfRegistration_7',
 'monthOfRegistration_8',
 'monthOfRegistration_9',
 'fuelType_andere',
 'fuelType_benzin',
 'fuelType_cng',
 'fuelType_diesel',
 'fuelType_elektro',
 'fuelType_hybrid',
 'fuelType_lpg',
 'brand_ALFA_ROMEO',
 'brand_AUDI',
 'brand_BMW',
 'brand_CHEVROLET',
 'brand_CHRYSLER',
 'brand_CITROEN',
 'brand_DACIA',
 'brand_DAEWOO',
 'brand_DAIHATSU',
 'brand_FIAT',
 'brand_FORD',
 'brand_HONDA',
 'brand_HYUNDAI',
 'brand_JAGUAR',
 'brand_JEEP',
 'brand_KIA',
 'brand_LADA',
 'brand_LANCIA',
 'brand_LAND_ROVER',
 'brand_MAZDA',
 'brand_MERCEDES_BENZ',
 'brand_MINI',
 'brand_MITSUBISHI',
 'brand_NISSAN',
 'brand_OPEL',
 'brand_PEUGEOT',
 'brand_PORSCHE',
 'brand_RENAULT',
 'brand_ROVER',
 'brand_SAAB',
 'brand_SEAT',
 'brand_SKODA',
 'brand_SMART',
 'brand_SONSTIGE_AUTOS',
 'brand_SUBARU',
 'brand_SUZUKI',
 'brand_TOYOTA',
 'brand_TRABANT',
 'brand_VOLKSWAGEN',
 'brand_VOLVO',
 'notRepairedDamage_ja',
 'notRepairedDamage_nein',
 'postalCode_1',
 'postalCode_10',
 'postalCode_12',
 'postalCode_13',
 'postalCode_14',
 'postalCode_15',
 'postalCode_16',
 'postalCode_17',
 'postalCode_18',
 'postalCode_19',
 'postalCode_2',
 'postalCode_20',
 'postalCode_21',
 'postalCode_22',
 'postalCode_23',
 'postalCode_24',
 'postalCode_25',
 'postalCode_26',
 'postalCode_27',
 'postalCode_28',
 'postalCode_29',
 'postalCode_3',
 'postalCode_30',
 'postalCode_31',
 'postalCode_32',
 'postalCode_33',
 'postalCode_34',
 'postalCode_35',
 'postalCode_36',
 'postalCode_37',
 'postalCode_38',
 'postalCode_39',
 'postalCode_4',
 'postalCode_40',
 'postalCode_41',
 'postalCode_42',
 'postalCode_44',
 'postalCode_45',
 'postalCode_46',
 'postalCode_47',
 'postalCode_48',
 'postalCode_49',
 'postalCode_50',
 'postalCode_51',
 'postalCode_52',
 'postalCode_53',
 'postalCode_54',
 'postalCode_55',
 'postalCode_56',
 'postalCode_57',
 'postalCode_58',
 'postalCode_59',
 'postalCode_6',
 'postalCode_60',
 'postalCode_61',
 'postalCode_63',
 'postalCode_64',
 'postalCode_65',
 'postalCode_66',
 'postalCode_67',
 'postalCode_68',
 'postalCode_69',
 'postalCode_7',
 'postalCode_70',
 'postalCode_71',
 'postalCode_72',
 'postalCode_73',
 'postalCode_74',
 'postalCode_75',
 'postalCode_76',
 'postalCode_77',
 'postalCode_78',
 'postalCode_79',
 'postalCode_8',
 'postalCode_80',
 'postalCode_81',
 'postalCode_82',
 'postalCode_83',
 'postalCode_84',
 'postalCode_85',
 'postalCode_86',
 'postalCode_87',
 'postalCode_88',
 'postalCode_89',
 'postalCode_9',
 'postalCode_90',
 'postalCode_91',
 'postalCode_92',
 'postalCode_93',
 'postalCode_94',
 'postalCode_95',
 'postalCode_96',
 'postalCode_97',
 'postalCode_98',
 'postalCode_99']